@model ExpertExpertPosition
@{
    ViewData["Title"] = "Create";
}


<div class="container mt-5">
    <h1>Create</h1>
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Choose an image for expert</label>
            <input class="form-control" type="file" id="formFile" asp-for="@Model.Expert.Photo">
            <span class="text-danger" asp-validation-for="@Model.Expert.Photo">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add expert name</label>
            <input class="form-control" type="text" id="formFile" asp-for="@Model.Expert.Name">
            <span class="text-danger" asp-validation-for="@Model.Expert.Name">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add expert position</label>
            <input class="form-control" type="text" id="formFile" asp-for="@Model.ExpertPosition.Name">
            <span class="text-danger" asp-validation-for="@Model.ExpertPosition.Name">@ViewBag.error</span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button asp-action="Index" class="btn btn-dark">Cancel</button>
    </form>
    <div class="back">
        <a class="btn btn-primary btn-rounded btn-w my-5" asp-action="Index">
            Go to list
        </a>
    </div>
</div>

